mat-grid-tile {
    width: 100%;
}

app-task-todo {
    width: 100%;
    height: 100%;
    margin: 1rem;
}

app-task-in-progress {
    width: 100%;
    height: 100%;
    margin: 1rem;
}

app-task-complete {
    width: 100%;
    height: 100%;
    margin: 1rem;
}