mat-card {
    margin: 0.5rem;
    width: 90%;
    height: 100%;
}


.todoTask {
    background-color: red;
}

.inProgressTask {
    background-color: orange;
}

.completedTask {
    background-color: yellowgreen;
}